name: 13 - Using Caching 
on: 
  workflow_dispatch:
    inputs:
      use-cache:
        type: boolean
        default: true
        description: Whether to execute cache step
jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node 
        uses: actions/setup-node@v3
        with: 
          node-version: 20.x 

      - name: Install dependencies 
        run: npm ci 

      - name: Testing 
        run: npm run test 

      - name: bulid
        run: npm run build

      - name: deploying to non-prod 
        run: echo " Deploying to non-prod "


      